.card-list-container {
    max-width: 1140px;
    margin: 78px auto 53px auto;
    padding: 20px 20px 26px 22px;
    border-radius: 30px;
}

.card-list-container_saved {
    margin: 78px auto 144px auto;
}

.card-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    column-gap: 24px;
    row-gap: 30px;
}

.more {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 82px auto;
    padding: 0;
    height: 36px;
    border: none;
    background-color: #F9F9F9;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-out;
}

.more:hover {
    opacity: .7;
}

.more_hidden {
    display: none;
}

@media screen and (max-width: 900px) {
    .card-list-container {
        padding: 20px 20px 26px 20px;
    }

    .card-list {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        column-gap: 20px;
    }
}

@media screen and (max-width: 780px) {
    .card-list-container {
        max-width: 1000px;
        padding: 20px 20px 26px 20px;
        margin: 78px auto 51px auto;
    }

    .card-list {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        column-gap: 20px;
        row-gap: 33px;
    }

    .more {
        margin: 0 auto 119px auto;
        max-width: 900px;
    }
}

@media screen and (max-width: 480px) {
    .card-list-container {
        max-width: 450px;
        padding: 0 10px 0 10px;
        margin: 0px auto 78px auto;
    }

    .card-list {
        grid-template-columns: minmax(180px, 1fr);
        justify-items: center;
        column-gap: 0;
        row-gap: 16px;
    }

    .more {
        max-width: 450px;
    }
}