.movies {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    padding-bottom: 172px;
    
}

.movies__error {
    max-width: 1140px;
    padding: 0 30px 0 30px;
    margin: 0 auto 50px auto;
    font-weight: 400;
}
