.not-found {
    max-width: 1140px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.not-found__content {
    padding: 80px 0 0 0;
}

.not-found__title {
    margin: 0;
    padding: 0;
    font-size: 140px;
    line-height: normal;
    font-weight: normal;
}

.not-found__text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: normal;
}

.not-found__link {
    margin: 0 0 -50px 0;
    color: #FF6838;
    text-decoration: none;
    transition: opacity 1s ease-out;
    font-size: 14px;
}

.not-found__link:hover {
    opacity: .7;
}

@media screen and (max-width: 768px) {
    .not-found__content {
        margin: 195px 0 0 0;
    }

    .not-found__link {
        margin: -30px 0 0 0;
    }
}

@media screen and (max-width: 360px) {
    .not-found__title {
        font-size: 80px;
        margin: 0 0 10px 0;
    }

    .not-found__text {
        font-size: 12px;
    }

    .not-found__link {
        font-size: 12px;
    }
  }