.search {
    max-width: 1140px;
    padding: 0 30px 0 30px;
    margin: 75px auto 101px auto;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-movie {
    margin: 0 0 30px 0;
    padding: 0 0 8px 0px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    line-height: normal;
    position: relative;
    width: 100%;
}

.search-movie__input {
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    color: #A0A0A0;
    border: none;
    text-align: center;
    padding: 7px 0 7px 39px;
    width: 93%;
    background-image: url(../../images/search-input.svg);
    background-repeat: no-repeat;
    background-position: left 7px top 7px;
}

.search-movie__input:focus-visible {
    outline: 1px solid #E8E8E8;
    border-radius: 20px;
}


.search-movie__btn {
    position: absolute;
    top: 7px;
    right: -6px;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../../images/search-btn.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: opacity 1s ease-out;
}

.search-movie__btn:hover {
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .search-form {
        padding-top: 5px;
    }

    .search {
        padding: 0 30px 0 30px;
        margin: 78px auto 113px auto;
    }

    .search-movie__input {
        background-position: left 6px top 5px;
    }
}

@media screen and (max-width: 460px) {
    .search {
        padding: 0 14px 0 14px;
        margin: 78px auto 94px auto;
    }

    .search-form {
        padding-top: 23px;
    }

    .search-movie {
        margin: 0 0 43px 0;
    }

    .search-movie__input {
        background-image: none;
        font-size: 18px;
        text-align: left;
        width: 75%;
    }

    .search-movie__btn {
        top: -1px;
        right: -6px;
    }

}