.about-project {
  max-width: 1140px;
  padding: 0 50px 0 50px;
  margin: 0 auto 101px auto;
}
  
.about-project__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  padding: 0 0 23px 0;
  margin: 0 0 70px 0;
  width: 100%;
  border-bottom: 1px solid #000;
}
  
.stages {
  margin: 0 0 95px 0;
  padding: 0;
  display: flex;
}

.stage-item {
  list-style: none;
  padding: 0;
  margin: 0 54px 0 0;
}

.stage-item:last-child {
  margin: 0;
}

.stage-item__title {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  padding: 0;
  margin: 0 0 26px 0;
}

.scale {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.scale-block {
  padding: 0;
  margin: 0;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
}

.scale-item {
  list-style: none;
  padding: 0;
  margin: 0 0 6px 0;
  display: flex;
}

.scale-item:last-child {
  margin: 0;
}

.scale-item_width_little {
  width: 20%;
}

.scale-item_width_big {
  width: 80%;
}

.scale-item_color_green {
  background-color: #2BE080;
}

.scale-item_color_grey {
  background-color: #F2F2F2;
}

.scale-item__text {
  color: #A0A0A0;
  font-weight: 500;
  line-height: 17px;
}

  
  @media screen and (max-width: 768px) {
    .about-project {
        margin: 0 auto 79px auto;
    }

    .stages {
      margin: 0 0 81px 0;
    }
  
    .stage-item {
      margin: 0 38px 0 0;
    }
  
    .stage-item__title {
      margin: 0 0 21px 0;
    }
  
    .stage-item__text {
      font-size: 12px;
      line-height: 18px;
    }

    .scale-item_width_little {
      width: 21%;
    }
  }  

  @media screen and (max-width: 360px) {
    .about-project {
      padding: 0 18px 0 18px;
    }
  
    .about-project__title {
      font-size: 18px;
      letter-spacing: -0.72px;
      padding: 0 0 28px 0;
      margin: 0 0 59px 0;
    }

    .stages {
      margin: 0 0 48px 0;
      flex-direction: column;
    }
  
    .stage-item {
      margin: 0 0 45px 0;
    }
  
    .stage-item__title {
      font-size: 18px;
      letter-spacing: -0.72px;
      margin: 0 0 17px 0;
    }
  
    .stage-item__text {
      font-size: 11px;
      line-height: 16px; 
    }

    .scale-block {
      font-size: 11px;
    }
  
    .scale-item {
      margin: 0 0 -3px 0;
    }
  
    .scale-item_width_little {
      width: 43%;
    } 
}
