.header {
    max-width: 1140px;
    /* margin: 0 auto 23px auto; */
    padding: 21px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__container_hidden {
  display: none;
}

.user-movies {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  margin: -3px 0px 0 0;
  display: none;
}

.header-menu__open {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../images/header-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 44px;
  width: 44px;
  transition: opacity 1s ease-out;
  z-index: 10;
}

.header-menu__open:hover {
  opacity: .7;
}

.header-menu__close {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../images/header-menu-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 34px;
  width: 34px;
  transition: opacity 1s ease-out;
  z-index: 10;
}

.header-menu__close:hover {
  opacity: .7;
}

.nav {
  margin: -2px 0 0 45px;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 16px 0 0;
  padding: 0;
  height: 100%;
}

.nav-item:last-child {
  margin: 0;
}

.nav-item_main {
  display: none;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  transition: opacity 1s ease-out;
}

.link:hover {
  opacity: 0.7;
}

.link_main-page {
  color: #fff;
}

.link_active {
  font-weight: 500;
  cursor: default;
}
  
.user-account {
  display: flex;
  cursor: pointer;
  margin-top: -7px;
  align-items: center;
  transition: opacity 1s ease-out;
}

/* .user-account_hidden {
  display: none;
} */

.user-account:hover>.user-account__link {
  opacity: 0.7;
}

.user-account__link {
  margin: -2px 18px 0 0;
  font-weight: 500;
  font-size: 14px;
}

.user-account__link_main {
  color: #fff;
}

.auth-btns {
  display: none;
  margin: -7px 0 0 0;
}

.auth-btns_active {
  display: block;
}

.auth-btns__reg {
  margin: 0 30px 0 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  transition: opacity 1s ease-out;
}

.auth-btns__reg:hover {
  opacity: 0.7;
}

.auth-btns__login {
  padding: 8px 19px 8px 21px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; 
  border-radius: 3px;
  background-color: #2BE080;
  text-decoration: none;
  transition: opacity 1s ease-out;
}

.auth-btns__login:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    padding: 18px 30px 0 30px;
    /* margin: 0 auto 87px auto; */
  }

  .header__container {
    width: 100%;
    min-height: 100vh;
    color: #000;
    overflow: hidden;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    /* transition: opacity 0.5s ease-out, visibility 0.5s ease-out; */
  }

  .header__container_active {
    visibility: visible;
    opacity: 1;
  }

  .header-menu {
    margin: -2px -7px 0 0;
  }

  .user-movies {
    max-width: 520px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    padding: 0;
    margin: 0;
    z-index: 10;
  }

  .user-account {
    padding: 0 0 96px 0;
  }

  .header-menu {
    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 158px 0 0 0;
  }

  .nav-item {
    margin: 0;
    padding: 0 0 27px 0;
  }

  .nav-item:last-child {
    padding: 0;
  }

  .link {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }

  .link_active {
    padding: 0 0 4px 0;
    border-bottom: 2px solid #000;
  }

  .link_main-page {
    color: #000;
  }

  .user-account__link {
    font-size: 14px;
  }
}  

@media screen and (max-width: 360px) {
  .header {
    padding: 18px 14px 0 14px;
    /* margin: 0 auto 83px auto; */
  }

  .nav {
    margin: 145px 0 0 0;
  }

  .nav-item {
    padding: 0 0 24px 0;
  }

  .user-account {
    padding: 0 0 49px 0;
  }

  .auth-btns__reg {
    font-size: 10px;
    margin: 0 15px 0 0;
  }

  .auth-btns__login {
    font-size: 10px;
    padding: 5px 12px 6px 12px;
  }

  .header-menu__open {
    height: 34px;
    width: 34px;
  }

  .header-menu {
    margin: -22px 0px 0 0;
  }
}